.form-amount {
  text-align: center;
}

.form-amount .currency {
  margin-left: 3px;
}

.form-amount__label {
  margin-bottom: 22px;
  font-size: 21px;
  font-weight: 700;
}

.form-amount__buttons {
  display: flex;
  justify-content: space-between;
}

.form-amount__price {
  padding-top: 8px;
  font-size: 20px;
  line-height: 20px;
}

.form-amount__price-value {
  font-weight: 600;
  letter-spacing: $letter-spacing;
}

.form-amount__price-currency {
  font-size: 15px;
}

.form-amount__price-annotation {
  vertical-align: middle;
  font-size: 10px;
  font-weight: 300;
}
