<div class="form-price">
  <p class="form-price__head">Акция</p>
  <div class="form-price__item">
    <div class="form-price__current">
      <span class="current-price x_price_current">790</span>
      <span class="currency x_price_currency">руб</span>
    </div>
    <div class="form-price__previous">
      <span class="form-price__label">Старая цена:</span>
      <span class="form-price__value">
        <span class="previous-price x_price_previous">1500</span>
        <span class="currency x_price_currency">руб</span>
      </span>
    </div>
  </div>
  <div class="form-price__item form-price__item--half">
    <span class="form-price__label">При покупке 2-х шт.</span>
    <span class="form-price__value form-price__value--half">
      <span class="half-price">459</span>
      <span class="currency x_price_currency">руб</span>
    </span>
    <span class="form-price__annotation">
      <span class="accent-red">*</span>за каждую
    </span>
  </div>
</div>
