<section class="promo block">
  <div class="promo__container container">
    <div class="promo__hgroup">
      <div class="promo__logo">
        <img src="img/promo-logo.svg" width="161" alt=""  class="promo__logo-img">
        <h1 class="promo__title sr-only">Magnetic Mask</h1>
      </div>
      <p class="promo__subtitle">Убирает лишнее, оставляет полезное</p>
    </div>
    <div class="promo__pictures">
      <div class="promo__picture person">
        <img src="img/promo-person.png" alt="">
      </div>
      <div class="promo__picture pack">
        <img src="img/pack.png" alt="">
      </div>
    </div>
    <div class="promo__form">
      <!--=include ./form.html -->
    </div>
  </div>
  <a href="#advantages" class="promo__scroll"></a>
</section>
