<div class="timer">
  <p class="timer__main-label">До конца акции осталось</p>
  <div class="timer__cells">
    <div class="timer__cell">
      <div class="timer__value days">00</div>
      <div class="timer__label">дней</div>
    </div>
    <div class="timer__cell">
      <div class="timer__value hours">00</div>
      <div class="timer__label">часов</div>
    </div>
    <div class="timer__cell">
      <div class="timer__value minutes">00</div>
      <div class="timer__label">минут</div>
    </div>
    <div class="timer__cell">
      <div class="timer__value seconds">00</div>
      <div class="timer__label">секунд</div>
    </div>
  </div>
</div>