section.expert.block
  .expert__container.container
    h2.expert__title.title Мнение блогера
    blockquote.expert__quote
      .expert__photo
        img.expert__photo-img(src="img/expert-photo.jpg", alt="")
      .expert__body
        p.expert__description &laquo;Мне очень нравится, как выглядит моя кожа после использования Magnetic&nbsp;Mask, потому что она чистая и&nbsp;при этом не&nbsp;сухая!&raquo;
          span.expert__name Osia
        .expert__pack
          img.expert__pack-img(src="img/pack.png", alt="")
