.form-amount
  p.form-amount__label Выберите&nbsp;количество
  .form-amount__buttons
    .form-amount__button
      button.form__set-amount.button.button--amount.active(type="button") 1 шт.
      .form-amount__price
        span.form-amount__price-value.current-price 750
        span.form-amount__price-currency.currency ₽
    .form-amount__button
      button.form__set-amount.button.button--amount(type="button") 2 шт.
      .form-amount__price
        span.form-amount__price-value 459
        span.form-amount__price-currency.currency ₽
        |
        |
        span.form-amount__price-annotation за каждый
