.form-price
  p.form-price__head Акция
  .form-price__item
    .form-price__current
      span.current-price.x_price_current 790
      span.currency.x_price_currency руб
    .form-price__previous
      span.form-price__label Старая цена:
      span.form-price__value
        span.previous-price.x_price_previous 1500
        span.currency.x_price_currency руб
  .form-price__item.form-price__item--half
    span.form-price__label При покупке 2-х шт.
    span.form-price__value.form-price__value--half
      span.half-price 459
      span.currency.x_price_currency руб
    span.form-price__annotation
      span.accent-red *
      | за каждую
