.form-price
  .sr-only
    .x_price_current
    .x_price_previous
    .x_currency
  p.form-price__head Акция
  .form-price__item
    .form-price__current
      span.current-price 790
      span.currency ₽
    .form-price__previous
      span.form-price__label Старая цена:
      span.form-price__value
        span.previous-price 1500
        span.currency ₽
  .form-price__item.form-price__item--half
    span.form-price__label При покупке 2-х шт.
    span.form-price__value.form-price__value--half
      span.half-price 459
      span.currency ₽
    span.form-price__annotation за каждую
