section.promo.block
  .promo__container.container
    .promo__hgroup
      .promo__logo
        img.promo__logo-img(src="img/promo-logo.svg", width="161", alt="")
      h1.promo__title.sr-only Magnetic&nbsp;Mask
      p.promo__subtitle Убирает лишнее, оставляет полезное
    .promo__pictures
      .promo__picture.person
        img(src="img/promo-person.png", alt="")
      .promo__picture.pack
        img(src="img/pack.png", alt="")
    .promo__form
      include form
  a.promo__scroll(href="#advantages")
