.romanian-renouncement.block
  .romanian-renouncement__container.container
    p.romanian-renouncement__text Consumatorul are dreptul sa&nbsp;notifice in&nbsp;scris comerciantului ca&nbsp;renunta la&nbsp;cumparare, fara penalitati si&nbsp;fara invocarea unui motiv, in&nbsp;termen de&nbsp;10&nbsp;zile lucratoare de&nbsp;la&nbsp;primirea produsului sau, in&nbsp;cazul prestarilor de&nbsp;servicii, de&nbsp;la&nbsp;incheierea contractului.
