.timer
  p.timer__main-label До конца акции осталось
  .timer__cells
    .timer__cell
      .timer__value.days 00
      .timer__label дней
    .timer__cell
      .timer__value.hours 00
      .timer__label часов
    .timer__cell
      .timer__value.minutes 00
      .timer__label минут
    .timer__cell
      .timer__value.seconds 00
      .timer__label секунд
