-
  const aboutItems = [
    {
      addClassNames: "bd-b bd-r",
      img: "img/about-01.png",
      label: "Текстура кожи",
      description: "Стимулирует обновление клеток и&nbsp;естественным образом восстанавливает текстуру кожи."
    },
    {
      isEmpty: true,
      addClassNames: "bd-b"
    },
    {
      addClassNames: "bd-b bd-l",
      img: "img/about-02.png",
      label: "Минералы",
      description: "В&nbsp;составе только лучшие минералы, которые будут очень полезны для уставшей кожи и&nbsp;улучшат ее&nbsp;состояние."
    },
    {
      addClassNames: "bd-r",
      img: "img/about-03.png",
      label: "Очищение",
      description: "Глубоко очищает поры от&nbsp;грязи, мертвых клеток кожи и&nbsp;лишнего жира. После применения, кожа выглядит гладкой, здоровой и&nbsp;более молодой."
    },
    {
      isEmpty: true
    },
    {
      addClassNames: "bd-l",
      img: "img/about-04.png",
      label: "Применение",
      description: "Нанесите тонкий слой маски на&nbsp;лицо, кроме области вокруг глаз и&nbsp;губ. Оставьте на&nbsp;5-10&nbsp;минут. Возьмите магнит, оберните его в&nbsp;салфетку, а&nbsp;затем снимите с&nbsp;его помощью маску. По&nbsp;желанию можно умыться или протереть лицо тоником."
    },
    {
      addClassNames: "bd-t bd-r",
      img: "img/about-05.png",
      label: "Магнитный принцип",
      description: "Кожа восстанавливается благодаря силе биомагнетизма. Магнит создает слабое магнитное поле, которое улучшает кровообращение, приток кислорода и&nbsp;питательных веществ к&nbsp;клеткам, а&nbsp;также обновляет кожу."
    },
    {
      isEmpty: true,
      addClassNames: "bd-t"
    },
    {
      addClassNames: "bd-t bd-l",
      img: "img/about-06.png",
      label: "Нормализует функции кожи",
      description: "Обеспечивает эффективный доступ питательных веществ к&nbsp;эпидермису, оказывает тонизирующее и&nbsp;расслабляющее воздействие на&nbsp;кожу&nbsp;лица."
    }
  ];
