-
  const aboutItems = [
    {
      addClassNames: "bd-b bd-r",
      img: "img/about-01.png",
      label: "Текстура кожи",
      description: "Стимулирует обновление клеток и&nbsp;естественным образом восстанавливает текстуру кожи"
    },
    {
      isEmpty: true,
      addClassNames: "bd-b"
    },
    {
      addClassNames: "bd-b bd-l",
      img: "img/about-02.png",
      label: "Минералы",
      description: "Мы&nbsp;используем только лучшие минералы, которые будут очень полезны для поврежденной кожи и&nbsp;улучшат ее&nbsp;состояние."
    },
    {
      addClassNames: "bd-r",
      img: "img/about-03.png",
      label: "Очищение",
      description: "Очищает поры от&nbsp;грязи, примесей, и&nbsp;сверх нормального масла. После применения, ваша кожа смотрится гладкой, более здоровая и&nbsp;выглядящая моложе."
    },
    {
      isEmpty: true
    },
    {
      addClassNames: "bd-l",
      img: "img/about-04.png",
      label: "Использование",
      description: "Нанесите тонкий слой крема на&nbsp;вашу кожу. Оставьте на&nbsp;5-10&nbsp;минут. Возьмите магнит и&nbsp;оберните его в&nbsp;пленку. Проведите по&nbsp;лицу и&nbsp;соберите железный порошок с&nbsp;вашего лица. Все полезные вещества остались на&nbsp;коже, а&nbsp;лицо чистое и&nbsp;сияющее."
    },
    {
      addClassNames: "bd-t bd-r",
      img: "img/about-05.png",
      label: "Магнитный принцип",
      description: "Возрождает вашу кожу через силу Биомагнетизма, создают микроэлектрические течения которые нежно ослабляют вашу кожу и&nbsp;оздоравливяют&nbsp;ее."
    },
    {
      isEmpty: true,
      addClassNames: "bd-t"
    },
    {
      addClassNames: "bd-t bd-l",
      img: "img/about-06.png",
      label: "Нормализует функции кожи",
      description: "Обеспечивает эффективный доступ питательных веществ к&nbsp;эпидермису, оказывает тонизирующее и&nbsp;расслабляющее воздействие на&nbsp;кожу лица."
    }
  ];
