-
  const advantagesItems = [
    {
      img: "img/advantages-01.jpg",
      description: "Вытягивает из&nbsp;пор мертвые клетки кожи, грязь и&nbsp;жир"
    },
    {
      img: "img/advantages-02.jpg",
      description: "Придает коже цветущий вид и&nbsp;выравнивает тон"
    },
    {
      img: "img/advantages-03.jpg",
      description: "Стимулирует обновление клеток и&nbsp;восстанавливает текстуру кожи"
    }
  ];
