-
  const carouselItems = [
    {
      bad: {img: "img/carousel-01-bad.jpg", description: "При умывании вы&nbsp;смываете все питательные вещества"},
      good: {img: "img/carousel-01-good.jpg", description: "Собираете магнитом и&nbsp;все питательные вещества остаются на&nbsp;коже."}
    },
    {
      bad: {img: "img/carousel-02-bad.jpg", description: "Используют заменители или не&nbsp;натуральные минералы"},
      good: {img: "img/carousel-02-good.jpg", description: "Только самые полезные витамины и&nbsp;минералы"}
    },
    {
      bad: {img: "img/carousel-03-bad.jpg", description: "Маска просто у&nbsp;вас на&nbsp;лице"},
      good: {img: "img/carousel-03-good.jpg", description: "Возрождает вашу кожу через силу Биомагнетизма, создают микроэлектрические течения которые нежно ослабляют вашу кожу"}
    }
  ];
