-
  const orderItems = [
    {
      icon: "img/order-icon-01.png",
      label: "Оставьте заявку",
      sublabel: "на&nbsp;нашем сайте"
    },
    {
      icon: "img/order-icon-02.png",
      label: "Мы&nbsp;вам перезвоним",
      sublabel: "и&nbsp;уточним адресные данные"
    },
    {
      icon: "img/order-icon-03.png",
      label: "Доставим товар",
      sublabel: "в&nbsp;любой город"
    },
    {
      icon: "img/order-icon-04.png",
      label: "Оплатите заказ",
      sublabel: "при получении <span class=\"nowrap\">в&nbsp;почтовом отделении</span>"
    }
  ];
