-
  const reviewsItems = [
    {
      thumb: "img/reviews-thumb-01.jpg",
      name: "Mia Wong",
      description: "Масочка бомба! Лицо после нее, как у&nbsp;младенца. Особенно хорошо зимой,когда лицо шелушится.",
      ago: 8,
      likes: 81
    },
    {
      thumb: "img/reviews-thumb-02.jpg",
      name: "Katty Bum",
      description: "Маска не&nbsp;вызывает раздражений и&nbsp;аллергии, хотя у&nbsp;меня кожа очень чувствительная ко&nbsp;всему такому",
      ago: 8,
      likes: 74,
      likesClass: "reviews__counters--like"
    },
    {
      thumb: "img/reviews-thumb-03.jpg",
      name: "Anna Ruggiero",
      description: "Супер средство! Легко пользоваться. Маска действительно липнет на&nbsp;магнит. После снятия кожа немного маслянистая, но&nbsp;остатки отлично втираются в&nbsp;кожу.",
      ago: 7,
      likes: 205
    },
    {
      thumb: "img/reviews-thumb-04.jpg",
      name: "Diana Simone",
      description: "Купила на&nbsp;свой страх и&nbsp;риск, так как моя кожа сразу краснеет и&nbsp;чешется от&nbsp;масок. Но&nbsp;эта меня приятно удивила&nbsp;&mdash; кожа стала увлажненной и&nbsp;будто светится.",
      ago: 6,
      likes: 18
    },
    {
      thumb: "img/reviews-thumb-05.jpg",
      name: "Lissa Boris",
      description: "Забавный процесс снятия, прям ощущается как фрагменты маски перепрыгивают на&nbsp;магнит, немного даже щекотно.",
      ago: 6,
      likes: 152,
      likesClass: "reviews__counters--laugh"
    },
    {
      thumb: "img/reviews-thumb-06.jpg",
      name: "Victoria Benedetti",
      description: "Очень классная масочка! Круто почистила мне черные точки на&nbsp;носу. Кожа после нее очень увлажненная.",
      ago: 6,
      likes: 70
    },
    {
      thumb: "img/reviews-thumb-07.jpg",
      name: "Agata Patrizio",
      description: "Потрясающая магнитная маска! После использование лицо стало подтянутым, нежным и&nbsp;напитанным! Сама процедура&nbsp;&mdash; море удовольствия!",
      ago: 4,
      likes: 42,
      likesClass: "reviews__counters--like"
    },
    {
      thumb: "img/reviews-thumb-08.jpg",
      name: "Debora Cosimo",
      description: "Универсальное средство&nbsp;и, как по&nbsp;мне, мастхэв каждой девушки: очищает, отбеливает, увлажняет и&nbsp;обладает антивозрастным эффектом.",
      ago: 2,
      likes: 11
    },
  ];
