-
  const reviewsItems = [
    {
      thumb: "img/reviews-thumb-01.jpg",
      name: "Sergio Botio",
      description: "Mia figlia sempre si prende cura di me, mi ha regalato anche questo braccialetto. Molto comodo, misura la pressione quando mi serve e non devo andare in farmacia. È molto leggero, non lo sento sulla mano.",
      ago: 8,
      likes: 10
    },
    {
      thumb: "img/reviews-thumb-02.jpg",
      name: "Akyona Bum",
      description: "Il braccialetto è fantastico! Basta toccarlo e inizia a lavorare, non ci sono i tasti inutili. Tutto è chiaro persino per me, anche se non sono un esperta di tecnologia :)",
      ago: 7,
      likes: 10
    },
    {
      thumb: "img/reviews-thumb-03.jpg",
      name: "Anna Ruggiero",
      description: "Ho comprato questo braccialetto perché la mia pressione si sbalza spesso, è molto facile da fare la misurazione quando sono in viaggio o non sono a casa. Anche mia mamma soffre di pressione alta, appena ha visto questo braccialetto, ha capito subito come funziona. Allora le ho regalato quello mio e ho comprato un nuovo per sé",
      ago: 6,
      likes: 10
    },
    {
      thumb: "img/reviews-thumb-04.jpg",
      name: "Sergio Benedetti",
      description: "Io e mia moglie abbiamo deciso di fare la camminata nordica, quindi abbiamo comprato questi braccialetti per gli allenamenti. Misurano la frequenza cardiaca, calcolano i passi e la distanza. Nulla di troppo, solo quello che ci serve",
      ago: 5,
      likes: 10
    },
    {
      thumb: "img/reviews-thumb-01.jpg",
      name: "Sergio Botio",
      description: "Mia figlia sempre si prende cura di me, mi ha regalato anche questo braccialetto. Molto comodo, misura la pressione quando mi serve e non devo andare in farmacia. È molto leggero, non lo sento sulla mano.",
      ago: 4,
      likes: 10
    },
    {
      thumb: "img/reviews-thumb-02.jpg",
      name: "Akyona Bum",
      description: "Il braccialetto è fantastico! Basta toccarlo e inizia a lavorare, non ci sono i tasti inutili. Tutto è chiaro persino per me, anche se non sono un esperta di tecnologia :)",
      ago: 3,
      likes: 10
    },
    {
      thumb: "img/reviews-thumb-03.jpg",
      name: "Anna Ruggiero",
      description: "Ho comprato questo braccialetto perché la mia pressione si sbalza spesso, è molto facile da fare la misurazione quando sono in viaggio o non sono a casa. Anche mia mamma soffre di pressione alta, appena ha visto questo braccialetto, ha capito subito come funziona. Allora le ho regalato quello mio e ho comprato un nuovo per sé",
      ago: 2,
      likes: 10
    },
    {
      thumb: "img/reviews-thumb-04.jpg",
      name: "Sergio Benedetti",
      description: "Io e mia moglie abbiamo deciso di fare la camminata nordica, quindi abbiamo comprato questi braccialetti per gli allenamenti. Misurano la frequenza cardiaca, calcolano i passi e la distanza. Nulla di troppo, solo quello che ci serve",
      ago: 1,
      likes: 10
    }
  ];
