-
  const reviewsItems = [
    {
      thumb: "img/reviews-thumb-01.jpg",
      name: "Mia Wong",
      description: "Масочка бомба! Лицо после нее, как у младенца. Особенно хорошо зимой,когда лицо шелушится. ",
      ago: 8,
      likes: 81
    },
    {
      thumb: "img/reviews-thumb-02.jpg",
      name: "Katty Bum",
      description: "Маска не вызывает раздражений и аллергии, хотя у меня кожа очень чувствительная ко всему такому",
      ago: 8,
      likes: 74,
      likesClass: "reviews__counters--like"
    },
    {
      thumb: "img/reviews-thumb-03.jpg",
      name: "Anna Ruggiero",
      description: "Супер средство! Легко пользоваться. Маска действительно липнет на магнит. После снятия кожа немного маслянистая, но остатки отлично втираются в кожу. ",
      ago: 8,
      likes: 205
    },
    {
      thumb: "img/reviews-thumb-04.jpg",
      name: "Diana Simone",
      description: "Купила на свой страх и риск, так как моя кожа сразу краснеет и чешется от масок. Но эта меня приятно удивила — кожа стала увлажненной и будто светится. ",
      ago: 8,
      likes: 18
    },
    {
      thumb: "img/reviews-thumb-05.jpg",
      name: "Lissa Boris",
      description: "Забавный процесс снятия, прям ощущается как фрагменты маски перепрыгивают на магнит, немного даже щекотно. ",
      ago: 8,
      likes: 152,
      likesClass: "reviews__counters--laugh"
    },
    {
      thumb: "img/reviews-thumb-06.jpg",
      name: "Victoria Benedetti",
      description: "Очень классная масочка! Круто почистила мне черные точки на носу. Кожа после нее очень увлажненная.",
      ago: 8,
      likes: 70
    },
    {
      thumb: "img/reviews-thumb-07.jpg",
      name: "Agata Patrizio",
      description: "Потрясающая магнитная маска! После использование лицо стало подтянутым, нежным и напитанным! Сама процедура — море удовольствия! ",
      ago: 8,
      likes: 42,
      likesClass: "reviews__counters--like"
    },
    {
      thumb: "img/reviews-thumb-08.jpg",
      name: "Debora Cosimo",
      description: "Универсальное средство и, как по мне, мастхэв каждой девушки: очищает, отбеливает, увлажняет и обладает антивозрастным эффектом.",
      ago: 8,
      likes: 11
    },
  ];
