<section class="about block">
  <div class="about__container container">
    <div class="about__items">
      <blockquote class="about__item bd-b bd-r">
        <div class="about__flipp">
          <div class="about__front">
            <div class="about__icon">
              <img src="img/about-01.png" alt="" class="about__icon-img">
            </div>
            <p class="about__label">
              Текстура кожи
            </p>
            <button type="button" class="about__show"></button>
          </div>
          <div class="about__back">
            <p class="about__description">
              Стимулирует обновление клеток и&nbsp;естественным образом восстанавливает текстуру кожи
            </p>
          </div>
        </div>
      </blockquote>
      <div class="about__item about__item--empty bd-b"></div>
      <blockquote class="about__item bd-b bd-l">
        <div class="about__flipp">
          <div class="about__front">
            <div class="about__icon">
              <img src="img/about-02.png" alt="" class="about__icon-img">
            </div>
            <p class="about__label">
              Минералы
            </p>
            <button type="button" class="about__show"></button>
          </div>
          <div class="about__back">
            <p class="about__description">
              Мы&nbsp;используем только лучшие минералы, которые будут очень полезны для поврежденной кожи и&nbsp;улучшат ее&nbsp;состояние.
            </p>
          </div>
        </div>
      </blockquote>
      <blockquote class="about__item bd-r">
        <div class="about__flipp">
          <div class="about__front">
            <div class="about__icon">
              <img src="img/about-03.png" alt="" class="about__icon-img">
            </div>
            <p class="about__label">
              Очищение
            </p>
            <button type="button" class="about__show"></button>
          </div>
          <div class="about__back">
            <p class="about__description">
              Очищает поры от&nbsp;грязи, примесей, и&nbsp;сверх нормального масла. После применения, ваша кожа смотрится гладкой, более здоровая и&nbsp;выглядящая моложе.
            </p>
          </div>
        </div>
      </blockquote>
      <div class="about__item about__item--empty"></div>
      <blockquote class="about__item bd-l">
        <div class="about__flipp">
          <div class="about__front">
            <div class="about__icon">
              <img src="img/about-04.png" alt="" class="about__icon-img">
            </div>
            <p class="about__label">
              Использование
            </p>
            <button type="button" class="about__show"></button>
          </div>
          <div class="about__back">
            <p class="about__description">
              Нанесите тонкий слой крема на&nbsp;вашу кожу. Оставьте на&nbsp;5-10&nbsp;минут. Возьмите магнит и&nbsp;оберните его в&nbsp;пленку. Проведите по&nbsp;лицу и&nbsp;соберите железный порошок с&nbsp;вашего лица. Все полезные вещества остались на&nbsp;коже, а&nbsp;лицо чистое и&nbsp;сияющее.
            </p>
          </div>
        </div>
      </blockquote>
      <blockquote class="about__item bd-t bd-r">
        <div class="about__flipp">
          <div class="about__front">
            <div class="about__icon">
              <img src="img/about-05.png" alt="" class="about__icon-img">
            </div>
            <p class="about__label">
              Магнитный принцип
            </p>
            <button type="button" class="about__show"></button>
          </div>
          <div class="about__back">
            <p class="about__description">
              Возрождает вашу кожу через силу Биомагнетизма, создают микроэлектрические течения которые нежно ослабляют вашу кожу и&nbsp;оздоравливяют&nbsp;ее.
            </p>
          </div>
        </div>
      </blockquote>
      <div class="about__item about__item--empty bd-t"></div>
      <blockquote class="about__item bd-t bd-l">
        <div class="about__flipp">
          <div class="about__front">
            <div class="about__icon">
              <img src="img/about-06.png" alt="" class="about__icon-img">
            </div>
            <p class="about__label">
              Нормализует функции кожи
            </p>
            <button type="button" class="about__show"></button>
          </div>
          <div class="about__back">
            <p class="about__description">
              Обеспечивает эффективный доступ питательных веществ к&nbsp;эпидермису, оказывает тонизирующее и&nbsp;расслабляющее воздействие на&nbsp;кожу лица.
            </p>
          </div>
        </div>
      </blockquote>
      <div class="about__person">
        <img src="img/about-person.png" alt="" class="about__person-img">
      </div>
    </div>
  </div>
</section>