<div class="form-amount">
  <p class="form-amount__label">Выберите&nbsp;количество</p>
  <div class="form-amount__buttons">
    <div class="form-amount__button">
      <button type="button" class="form__set-amount button button--amount active">1 шт.</button>
      <div class="form-amount__price">
        <span class="form-amount__price-value current-price x_price_current">750</span>
        <span class="form-amount__price-currency currency x_price_currency">руб</span>
      </div>
    </div>
    <div class="form-amount__button">
      <button type="button" class="form__set-amount button button--amount">2 шт.</button>
      <div class="form-amount__price">
        <span class="form-amount__price-value">459</span>
        <span class="form-amount__price-currency currency x_price_currency">руб</span>
        <span class="form-amount__price-annotation">за каждый</span>
      </div>
    </div>
  </div>
</div>